@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

*, *::before, *::After {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Orbitron", sans-serif;
  cursor: url(../../static/assets/arrowcursor.svg), auto;
}

a {
  cursor: url(../../static/assets/handcursor.svg), auto;
}

p {
  font-family: "Nunito", sans-serif;
}

input {
  cursor: url(../../static/assets/icursor.svg), auto;
}
input[type=submit] {
  cursor: url(../../static/assets/handcursor.svg), auto;
}

.visible {
  visibility: visible;
}

.nonvisible {
  visibility: hidden;
}

.displaynone {
  visibility: hidden;
}

.html {
  overflow: scroll;
  overflow-x: hiden;
}

::-webkit-scrollbar {
  width: 0;
}

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 6.25rem;
  transition: 0.6s;
}
.header .logo img {
  height: 4rem;
}
@media (max-width: 63.9375em) {
  .header .logo img {
    height: 3.2rem;
  }
}
@media (max-width: 39.9375em) {
  .header .logo img {
    height: 2.8rem;
  }
}
.header .menu-btn {
  display: none;
}
@media (max-width: 63.9375em) {
  .header {
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .header .menu-btn {
    background: url("../../static/assets/bars-solid-orange.svg") no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 1.5625rem;
    background-position: center;
    cursor: pointer;
    display: block;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
  }
  .header .menu-btn:hover {
    transform: rotate(360deg);
    transition: 400ms ease-in;
  }
}
.header .nav {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .nav .nav_link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.4rem;
  transition: 0.3s;
  font-size: 0.8rem;
}
@media (min-width: 87.5em) {
  .header .nav .nav_link {
    font-size: 1rem;
  }
}
.header .nav .nav_link:hover {
  color: #ff5703;
  transition: 0.3s;
}
.header .nav.active {
  right: 0;
  visibility: visible;
}
@media (max-width: 63.9375em) {
  .header .nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #222222;
    min-width: 21.875rem;
    height: 100vh;
    top: 0%;
    right: -125%;
    padding: 5.625rem 3.125rem;
    overflow-y: auto;
    transition: 0.5s;
    transition-property: right, visibility;
  }
  .header .nav .close-btn {
    position: absolute;
    background: url("../../static/assets/xmark-solid-orange.svg") no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 1.5625rem;
    background-position: center;
    top: 0;
    left: 0;
    margin: 1.5625rem;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
  }
  .header .nav .close-btn:hover {
    transform: rotate(360deg);
    transition: 400ms ease-in;
  }
}
.header .nav .active {
  color: #ff5703;
}
.header.sticky {
  background: #222222;
  padding: 0.325rem 0.625rem;
}
.header.sticky .logo img {
  height: 3rem;
}
.header.sticky .nav_link {
  color: #ffffff;
}
.header.sticky .active {
  color: #ff5703;
}

#app {
  background-color: #222222;
}

.home {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("../../static/assets/docklandsbanner.jpg") no-repeat center center/cover;
  justify-content: flex-end;
}
@media (max-width: 39.9375em) {
  .home {
    justify-content: center;
    background: url("../../static/assets/docklandsbanner.jpg") no-repeat center center/cover;
  }
}
.home .home_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  -webkit-animation: PageRefresh 2s ease-out 0s 1;
          animation: PageRefresh 2s ease-out 0s 1;
}
@media (max-width: 63.9375em) {
  .home .home_content {
    align-items: center;
  }
}
.home .home_content .logo {
  color: #ff5703;
  letter-spacing: 0.4rem;
  padding: 1rem;
  margin-left: 4rem;
}
@media (max-width: 63.9375em) {
  .home .home_content .logo {
    margin-left: 0;
  }
}
.home .home_content .logo img {
  opacity: 60%;
  height: 6rem;
  transition: 600ms;
  -webkit-animation: inflate 7s ease-in-out 0s infinite;
          animation: inflate 7s ease-in-out 0s infinite;
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 39.9375em) {
  .home .home_content .logo img {
    height: 4rem;
  }
}
.home .home_content .logo img:hover {
  cursor: url(../../static/assets/handcursor.svg), auto;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 1.5s;
  opacity: 100%;
  transform: scale(1.2);
}
.home .home_content .biolink {
  text-decoration: none;
  text-align: center;
  color: #ff5703;
  letter-spacing: 0.2rem;
  align-self: flex-end;
  padding: 1rem;
  margin-right: 4rem;
}
@media (max-width: 63.9375em) {
  .home .home_content .biolink {
    align-self: center;
    margin-right: 0;
  }
}
.home .home_content .biolink h1 {
  -webkit-animation: inflate 7s ease-in-out 0s infinite;
          animation: inflate 7s ease-in-out 0s infinite;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.2rem;
  min-width: none;
  max-width: 30rem;
  padding: 1rem;
  transition: 600ms;
}
@media (max-width: 39.9375em) {
  .home .home_content .biolink h1 {
    font-size: 0.8rem;
  }
}
.home .home_content .biolink h1:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 1.5s;
  opacity: 100%;
  transform: scale(1.2);
}

.footer .section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  background-color: #222222;
  padding: 2rem 0 1rem 0;
  width: 100%;
  color: #ffffff;
  list-style: none;
}
.footer .section a {
  color: #ffffff;
  transition: 400ms ease-in-out;
  text-decoration: none;
}
.footer .section a:hover {
  color: #ff5703;
  transform: scale(1.2);
  transition: 400ms ease-in-out;
}
.footer .section h4 {
  font-weight: 400;
  font-size: 0.8rem;
}
@media (max-width: 63.9375em) {
  .footer .section h4 {
    font-size: 0.6rem;
  }
}
.footer .section__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer .section__socials a i {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.8rem;
  transition: 400ms ease-in-out;
  padding: 0 0.4rem;
}
.footer .section__socials a i:hover {
  transform: scale(1.4);
  transition: 400ms ease-in-out;
  color: #ff5703;
}
.footer .basefooter {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}
.footer .basefooter a h4:hover {
  color: #ff5703;
  transition: 400ms ease-in-out;
}

@-webkit-keyframes PageRefresh {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes PageRefresh {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes inflate {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
    background-color: #ffffff;
  }
  100% {
    opacity: 50%;
  }
}
@keyframes inflate {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
    background-color: #ffffff;
  }
  100% {
    opacity: 50%;
  }
}
.bio_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  background: url("../../static/assets/docklandsbanner.jpg") no-repeat center right/cover;
}
@media (max-width: 39.9375em) {
  .bio_content {
    padding: 1rem;
  }
}
.bio_content .content_display {
  display: grid;
  grid-template-columns: 100rem, 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-template-areas: "top-left top top top top-right" "left center center center right" "left center center center right" "left center center center right" "bottom-left bottom bottom bottom bottom-right";
  gap: 1rem;
  align-items: center;
  margin-top: 4rem;
  scroll-behavior: auto;
  overflow-x: auto;
  overflow-y: auto;
  padding: 1rem;
  height: 100vh;
  -webkit-animation: aboutRefresh 2s ease-out 0s 1;
          animation: aboutRefresh 2s ease-out 0s 1;
}
.bio_content .content_display::-webkit-scrollbar {
  display: none;
}
@media (max-width: 63.9375em) {
  .bio_content .content_display {
    display: grid;
    grid-template-areas: "bio" "tech" "content" "image";
  }
}
.bio_content .content_display h1 {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  background-color: rgba(34, 34, 34, 0.9);
  width: auto;
  text-align: center;
  font-size: 1.8rem;
  transition: 1s ease-in-out;
  padding-left: 1rem;
}
@media (max-width: 63.9375em) {
  .bio_content .content_display h1 {
    font-size: 1.4rem;
  }
}
.bio_content .content_display h2 {
  letter-spacing: 0.2rem;
  color: #ff5703;
  font-size: 1.4rem;
}
.bio_content .content_display p {
  font-size: 1rem;
  color: #000000;
}
.bio_content .content_display button.btn {
  background-color: rgba(34, 34, 34, 0.9);
  width: auto;
  border: none;
  font-size: 1.8rem;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
@media (max-width: 39.9375em) {
  .bio_content .content_display button.btn {
    font-size: 0.8rem;
  }
}
.bio_content .content_display button.btn:hover {
  color: #ff5703;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 1s ease-in-out;
  cursor: url(../../static/assets/handcursor.svg), auto;
}
.bio_content .content_display button.btn:focus {
  color: #ff5703;
  background-color: #ffffff;
}
.bio_content .content_display #techDIS {
  justify-self: center;
  width: 100%;
}
.bio_content .content_display #bioDIS {
  justify-self: center;
}
.bio_content .content_display .headbio {
  grid-area: left;
  display: flex;
  justify-content: center;
  padding-left: 0.6rem;
}
@media (max-width: 63.9375em) {
  .bio_content .content_display .headbio {
    grid-area: bio;
    padding-left: 0;
  }
}
.bio_content .content_display .headbio_content {
  grid-area: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.6rem;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
}
.bio_content .content_display .headbio_content h2 {
  font-size: 1.4rem;
}
@media (max-width: 63.9375em) {
  .bio_content .content_display .headbio_content h2 {
    font-size: 0.8rem;
  }
}
.bio_content .content_display .headbio_content p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
@media (max-width: 63.9375em) {
  .bio_content .content_display .headbio_content p {
    font-size: 1rem;
  }
}
@media (max-width: 63.9375em) {
  .bio_content .content_display .headbio_content {
    grid-area: content;
    flex-direction: column;
    width: auto;
    height: auto;
  }
}
.bio_content .content_display .headtech {
  grid-area: top;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  max-width: 20rem;
}
@media (max-width: 63.9375em) {
  .bio_content .content_display .headtech {
    grid-area: tech;
    max-width: none;
  }
}
.bio_content .content_display .headtech_content {
  grid-area: center;
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  scroll-behavior: auto;
  overflow-x: auto;
  overflow-y: auto;
  height: 60vh;
}
.bio_content .content_display .headtech_content::-webkit-scrollbar {
  display: none;
}
@media (max-width: 63.9375em) {
  .bio_content .content_display .headtech_content {
    grid-area: content;
    flex-direction: column;
  }
}
.bio_content .content_display .headtech_content .techlevel {
  display: flex;
  align-items: center;
  margin: 0.4rem;
  margin-right: 0;
}
.bio_content .content_display .headtech_content .techlevel svg {
  height: 3rem;
  width: 5.25rem;
}
@media (max-width: 39.9375em) {
  .bio_content .content_display .headtech_content .techlevel svg {
    height: 1.2rem;
    width: 2.4rem;
  }
}
.bio_content .content_display .headtech_content .techlevel h3 {
  color: #000000;
  min-width: 9rem;
  font-size: 1.2rem;
}
@media (max-width: 39.9375em) {
  .bio_content .content_display .headtech_content .techlevel h3 {
    font-size: 0.8rem;
    min-width: 5.5rem;
  }
}
.bio_content .content_display .headtech_content .techlevel .bS {
  align-items: center;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 25%;
  font-size: 0.8rem;
}
.bio_content .content_display .headtech_content .techlevel .tW {
  align-items: center;
  font-size: 0.8rem;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 25%;
}
.bio_content .content_display .headtech_content .techlevel .html5 {
  align-items: center;
  font-size: 0.8rem;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 45%;
}
.bio_content .content_display .headtech_content .techlevel .jS {
  align-items: center;
  font-size: 0.8rem;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 25%;
}
.bio_content .content_display .headtech_content .techlevel .react {
  align-items: center;
  font-size: 0.8rem;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 25%;
}
.bio_content .content_display .headtech_content .techlevel .css3 {
  align-items: center;
  font-size: 0.8rem;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 45%;
}
.bio_content .content_display .headtech_content .techlevel .sass {
  align-items: center;
  font-size: 0.8rem;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 45%;
}
.bio_content .content_display .headtech_content .techlevel .photoshop {
  align-items: center;
  font-size: 0.8rem;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 45%;
}
.bio_content .content_display .headtech_content .techlevel .wp {
  align-items: center;
  font-size: 0.8rem;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 35%;
}
.bio_content .content_display .headtech_content .techlevel .aI {
  align-items: center;
  font-size: 0.8rem;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 45%;
}
.bio_content .content_display .headtech_content .techlevel .pP {
  align-items: center;
  font-size: 0.8rem;
  text-align: right;
  color: #ffffff;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
  background-color: #ff5703;
  height: 1.8rem;
  width: 35%;
}
.bio_content .content_display .about_start {
  grid-area: center;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.6rem;
  margin-top: 1rem;
}
@media (max-width: 63.9375em) {
  .bio_content .content_display .about_start {
    grid-area: content;
    flex-direction: column;
    width: auto;
    height: auto;
  }
}
.bio_content .content_display .images {
  display: flex;
  grid-area: right;
  cursor: url(../../static/assets/handcursor.svg), auto;
}
@media (max-width: 63.9375em) {
  .bio_content .content_display .images {
    grid-area: image;
    justify-content: center;
  }
}
.bio_content .content_display .images img {
  height: 100%;
}
@media (max-width: 63.9375em) {
  .bio_content .content_display .images img {
    height: 50%;
    width: 70%;
  }
}

@-webkit-keyframes aboutRefresh {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes aboutRefresh {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  background: url("../../static/assets/docklandsbanner.jpg") no-repeat center right/cover;
}
@media (max-width: 63.9375em) {
  .articles {
    padding: 1rem;
  }
}
.articles .articlescont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  scroll-behavior: auto;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
  height: 80vh;
  -webkit-animation: articleRefresh 2s ease-out 0s 1;
          animation: articleRefresh 2s ease-out 0s 1;
}
.articles .articlescont h1 {
  color: #ff5703;
  letter-spacing: 0.4rem;
  margin-bottom: 4rem;
}
.articles .articlescont::-webkit-scrollbar {
  display: none;
}
.articles .articlescont .articlescont_card {
  display: flex;
  flex-direction: row;
}
@media (max-width: 63.9375em) {
  .articles .articlescont .articlescont_card {
    flex-direction: column;
  }
}
.articles .articlescont .articlescont_card .card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 0.1rem dotted #ff5703;
}
@media (max-width: 63.9375em) {
  .articles .articlescont .articlescont_card .card {
    border-right: none;
    border-bottom: 0.1rem dotted #ff5703;
  }
}
.articles .articlescont .articlescont_card .card img {
  width: 100%;
  height: auto;
  -webkit-animation: ImageFlip 2s ease-in-out 0s 1;
          animation: ImageFlip 2s ease-in-out 0s 1;
}
.articles .articlescont .articlescont_card .card figcaption {
  font-size: 0.6rem;
}
.articles .articlescont .articlescont_card .card .articlescontent h2 {
  color: #ff5703;
  padding-top: 1rem;
}
.articles .articlescont .articlescont_card .card .articlescontent h3 {
  color: rgba(68, 68, 68, 0.8);
}
.articles .articlescont .articlescont_card .card .articlescontent p {
  font-size: 1.2rem;
}
.articles .articlescont .articlescont_card .card .articlescontent a {
  text-decoration: none;
  color: #ff5703;
  font-size: 1rem;
  transition: 200ms ease-in-out;
}
.articles .articlescont .articlescont_card .card .articlescontent a:hover {
  transform: scale(1.1);
  transition: 200ms ease-in-out;
}

@-webkit-keyframes articleRefresh {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes articleRefresh {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes ImageFlip {
  0% {
    transform: rotate3d(180, 0, 0, 180deg);
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: rotate3d(0);
  }
}
@keyframes ImageFlip {
  0% {
    transform: rotate3d(180, 0, 0, 180deg);
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: rotate3d(0);
  }
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  background: url("../../static/assets/docklandsbanner.jpg") no-repeat center right/cover;
}
.services .servicescont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  scroll-behavior: auto;
  overflow-y: auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  height: 80vh;
  -webkit-animation: servicesRefresh 2s ease-out 0s 1;
          animation: servicesRefresh 2s ease-out 0s 1;
}
.services .servicescont h1 {
  color: #ff5703;
  letter-spacing: 0.4rem;
  margin-bottom: 4rem;
}
.services .servicescont::-webkit-scrollbar {
  display: none;
}
.services .servicescont .servicescont_card {
  display: flex;
  flex-direction: row;
}
@media (max-width: 63.9375em) {
  .services .servicescont .servicescont_card {
    flex-direction: column;
  }
}
.services .servicescont .servicescont_card .card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 1rem;
  transition: 200ms ease-in-out;
}
.services .servicescont .servicescont_card .card img {
  width: 100%;
  height: 100%;
}
.services .servicescont .servicescont_card .card:hover {
  transform: scale(1.1);
  transition: 200ms ease-in-out;
}
.services .servicescont .servicescont_card .card .servicescontent {
  padding: 1rem;
}
.services .servicescont .servicescont_card .card .servicescontent h2 {
  color: #ff5703;
}
.services .servicescont .servicescont_card .card .servicescontent p {
  font-size: 0.6rem;
}

@-webkit-keyframes servicesRefresh {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes servicesRefresh {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  background: url("../../static/assets/docklandsbanner.jpg") no-repeat center right/cover;
}
.portfolio .portfoliocont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  scroll-behavior: auto;
  overflow-y: auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  height: 80vh;
  -webkit-animation: portfolioRefresh 2s ease-out 0s 1;
          animation: portfolioRefresh 2s ease-out 0s 1;
}
.portfolio .portfoliocont h1 {
  color: #ff5703;
  letter-spacing: 0.4rem;
  margin-bottom: 4rem;
}
.portfolio .portfoliocont::-webkit-scrollbar {
  display: none;
}
.portfolio .portfoliocont .portfoliocont_card {
  display: flex;
  flex-direction: row;
}
@media (max-width: 63.9375em) {
  .portfolio .portfoliocont .portfoliocont_card {
    flex-direction: column;
  }
}
.portfolio .portfoliocont .portfoliocont_card .card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 1rem;
  transition: 200ms ease-in-out;
}
.portfolio .portfoliocont .portfoliocont_card .card img {
  width: 100%;
  height: 100%;
}
.portfolio .portfoliocont .portfoliocont_card .card:hover {
  transform: scale(1.1);
  transition: 200ms ease-in-out;
}
.portfolio .portfoliocont .portfoliocont_card .card .portfoliocontent {
  padding: 1rem;
}
.portfolio .portfoliocont .portfoliocont_card .card .portfoliocontent h2 {
  color: #ff5703;
}
.portfolio .portfoliocont .portfoliocont_card .card .portfoliocontent p {
  font-size: 0.6rem;
}

@-webkit-keyframes portfolioRefresh {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes portfolioRefresh {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  background: url("../../static/assets/docklandsbanner.jpg") no-repeat center right/cover;
}
.content .contact_page {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: auto;
  margin-top: 4rem;
  align-self: center;
  -webkit-animation: FadeIn 2s ease-in-out 0s 1;
          animation: FadeIn 2s ease-in-out 0s 1;
}
@media (min-width: 64em) {
  .content .contact_page {
    align-self: flex-end;
    margin-right: 4rem;
  }
}
.content .contact_page h1 {
  text-align: center;
  color: #ff5703;
  padding-bottom: 2rem;
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
}
@media (max-width: 39.9375em) {
  .content .contact_page h1 {
    font-size: 1.2rem;
  }
}
.content .contact_page form.cform {
  color: #000000;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.content .contact_page form.cform label {
  letter-spacing: 0.4rem;
  font-weight: 600;
  color: #ff5703;
  margin: 1rem;
}
.content .contact_page form.cform textarea#message {
  margin: 1rem;
  width: 100%;
  min-height: 4.75rem;
  font-family: "Nunito", sans-serif;
  padding: 0.4rem;
}
.content .contact_page form.cform input {
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  max-width: 24rem;
  padding: 0.4rem;
  border: none;
  font-family: "Nunito", sans-serif;
}
.content .contact_page form.cform input[type=submit] {
  color: #ff5703;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0.4rem 1rem;
  transition: 200ms ease-in-out;
  border: 2px #ffffff solid;
  max-width: 16rem;
}
.content .contact_page form.cform input[type=submit]:hover {
  transition: 200ms ease-in-out;
  border: 2px #ff5703 solid;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.image01 {
  background: url("../../static/assets/docklandsbanner.jpg") no-repeat center center/cover;
  height: 50%;
  width: 50%;
}/*# sourceMappingURL=style.css.map */