@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

*, *::before, *::After {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Orbitron", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
}

.visible {
  visibility: visible;
}

.nonvisible {
  visibility: hidden;
}

.displaynone {
  visibility: hidden;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 0 6.25rem;
  transition: 0.6s;
}
.header .logo img {
  height: 4rem;
}
@media (max-width: 63.9375em) {
  .header .logo img {
    height: 3.2rem;
  }
}
@media (max-width: 39.9375em) {
  .header .logo img {
    height: 2.8rem;
  }
}
.header .menu-btn {
  display: none;
}
@media (max-width: 63.9375em) {
  .header {
    justify-content: end;
    padding: 1rem 2rem;
  }
  .header .menu-btn {
    background: url("../../static/assets/bars-solid-orange.svg") no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 1.5625rem;
    background-position: center;
    cursor: pointer;
    display: block;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
  }
  .header .menu-btn:hover {
    transform: rotate(360deg);
    transition: 600ms ease-in;
  }
}
.header .nav {
  position: relative;
  display: none;
  justify-content: center;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header .nav .nav_link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.4rem;
  transition: 0.3s;
  font-size: 0.8rem;
}
@media (min-width: 87.5em) {
  .header .nav .nav_link {
    font-size: 1rem;
  }
}
.header .nav .nav_link:hover {
  color: #ff5703;
  transition: 0.3s;
}
.header .nav.active {
  right: 0;
  visibility: visible;
}
@media (max-width: 63.9375em) {
  .header .nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    min-width: 21.875rem;
    height: 100vh;
    top: 0%;
    right: -125%;
    padding: 5.625rem 3.125rem;
    overflow-y: auto;
    transition: 1s;
    transition-property: right, visibility;
  }
  .header .nav .close-btn {
    position: absolute;
    background: url("../../static/assets/xmark-solid-orange.svg") no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 1.5625rem;
    background-position: center;
    top: 0;
    left: 0;
    margin: 1.5625rem;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
  }
  .header .nav .close-btn:hover {
    transform: rotate(360deg);
    transition: 600ms ease-out;
  }
}
.header .nav .active {
  color: #ff5703;
}
.header.sticky {
  background: none;
  padding: 0.325rem 0.625rem;
}
.header.sticky .logo img {
  height: 3rem;
}
.header.sticky .nav_link {
  color: #000000;
}
.header.sticky .active {
  color: #ff5703;
}

#app {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: auto;
  scroll-behavior: auto;
  overflow-x: auto;
  overflow-y: auto;
  background: #ffffff;
}
@media (max-width: 39.9375em) {
  .home {
    justify-content: center;
    background: #ffffff;
  }
}
.home .home_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  animation: PageRefresh 2s ease-out 0s 1;
}
@media (max-width: 63.9375em) {
  .home .home_content {
    align-items: center;
  }
}
.home .home_content .lineborderT {
  background-color: #ff5703;
  height: 0.4rem;
  width: 75%;
  border: none;
}
@media (max-width: 63.9375em) {
  .home .home_content .lineborderT {
    width: 100%;
  }
}
.home .home_content .lineborderB {
  border: none;
  background-color: #ff5703;
  height: 0.4rem;
  width: 100%;
}
.home .home_content .nav_content {
  display: flex;
  flex-direction: column;
  padding-right: 0rem;
  width: 100%;
  align-items: center;
}
@media (max-width: 63.9375em) {
  .home .home_content .nav_content {
    padding-right: 0rem;
  }
}
.home .home_content .nav_content .menu_content {
  text-decoration: none;
  text-align: center;
  color: #ff5703;
  letter-spacing: 0.2rem;
  transition: 400ms ease-in-out;
  padding: 1rem;
}
.home .home_content .nav_content .menu_content h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.6rem;
}
.home .home_content .nav_content .menu_content:hover {
  transform: scale(1.2);
  transition: 600ms ease-in-out;
}
@media (max-width: 63.9375em) {
  .home .home_content .nav_content .menu_content {
    text-align: center;
  }
}
.home .home_content .nav_content .page_content {
  color: #000000;
  width: auto;
  padding: 1rem;
}
.home .home_content .nav_content .page_content a {
  text-decoration: none;
  color: #ff5703;
}
.home .home_content .nav_content a {
  text-decoration: none;
}
.home .home_content .logo {
  color: #ff5703;
  letter-spacing: 0.4rem;
  padding: 1rem;
  background-color: none;
}
@media (max-width: 63.9375em) {
  .home .home_content .logo {
    margin-left: 0;
  }
}
.home .home_content .logo img {
  height: 6rem;
  transition: 600ms;
  background-color: #ffffff;
}
@media (max-width: 39.9375em) {
  .home .home_content .logo img {
    height: 4rem;
  }
}
.home .home_content .logo_title {
  padding: 1rem;
  color: #ff5703;
  align-self: flex-start;
}
.home .home_content .logo_title h1 {
  margin-bottom: 1rem;
}
.home .home_content .logo_title .lineborderT {
  border: none;
  background-color: #ff5703;
  height: 0.4rem;
  width: 100%;
}
.home .home_content .biolink {
  text-decoration: none;
  text-align: center;
  color: #ff5703;
  letter-spacing: 0.2rem;
  align-self: flex-end;
  padding: 1rem;
}
@media (max-width: 63.9375em) {
  .home .home_content .biolink {
    align-self: center;
    margin-right: 0;
  }
}
.home .home_content .biolink h1 {
  font-size: 1.2rem;
  min-width: none;
  max-width: 60rem;
  padding: 1rem;
  transition: 400ms ease-in-out;
}
@media (max-width: 39.9375em) {
  .home .home_content .biolink h1 {
    font-size: 0.8rem;
    max-width: 30rem;
  }
}

.footer {
  display: flex;
  position: relative;
}
.footer .section {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  background-color: #ffffff;
  padding: 2rem 0 1rem 0;
  width: 100%;
  color: #000000;
  list-style: none;
}
.footer .section a {
  color: #000000;
  transition: 400ms ease-in-out;
  text-decoration: none;
}
.footer .section a:hover {
  color: #ff5703;
  transform: scale(1.2);
  transition: 400ms ease-in-out;
}
.footer .section h4 {
  font-weight: 600;
  font-size: 0.8rem;
}
@media (max-width: 63.9375em) {
  .footer .section h4 {
    font-size: 0.6rem;
  }
}
.footer .basefooter {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}
.footer .basefooter a h4:hover {
  color: #ff5703;
  transition: 400ms ease-in-out;
}

.home_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0;
  background-color: #ffffff;
}
@media (max-width: 63.9375em) {
  .home_content {
    justify-content: space-between;
  }
}
.home_content .logo_title {
  padding: 1rem;
  color: #ff5703;
  align-self: flex-start;
}
.home_content .logo_title h1 {
  color: #ff5703;
  margin-bottom: 1rem;
}
.home_content .logo_title .lineborderT {
  background-color: #ff5703;
  height: 0.4rem;
  width: 100%;
}
.home_content .biolink {
  text-decoration: none;
  text-align: center;
  color: #ff5703;
  letter-spacing: 0.2rem;
  align-self: flex-end;
  padding: 1rem;
}
@media (max-width: 63.9375em) {
  .home_content .biolink {
    align-self: center;
    margin-right: 0;
  }
}
.home_content .biolink h1 {
  font-size: 1.2rem;
  min-width: none;
  max-width: 60rem;
  padding: 1rem;
  transition: 400ms ease-in-out;
}
@media (max-width: 39.9375em) {
  .home_content .biolink h1 {
    font-size: 0.8rem;
    max-width: 30rem;
  }
}
.home_content .lineborderB {
  background-color: #ff5703;
  height: 0.4rem;
  width: 100%;
}
.home_content .contact_page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: auto;
  align-self: center;
}
@media (min-width: 64em) {
  .home_content .contact_page {
    align-self: flex-end;
    margin-right: 4rem;
  }
}
.home_content .contact_page h1 {
  text-align: center;
  color: #ff5703;
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
}
@media (max-width: 39.9375em) {
  .home_content .contact_page h1 {
    font-size: 1.2rem;
  }
}
.home_content .contact_page form.cform {
  display: flex;
  flex-direction: column;
  color: #000000;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.home_content .contact_page form.cform label {
  letter-spacing: 0.4rem;
  font-weight: 600;
  color: #ff5703;
}
.home_content .contact_page form.cform textarea#message {
  width: 100%;
  min-height: 4.75rem;
  font-family: "Nunito", sans-serif;
  padding: 0.4rem;
}
.home_content .contact_page form.cform input {
  background-color: #ffffff;
  width: 100%;
  max-width: 24rem;
  align-self: center;
  padding: 0.4rem;
  border: solid 1px black;
  font-family: "Nunito", sans-serif;
}
.home_content .contact_page form.cform input[type=submit] {
  color: #ff5703;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0.4rem 1rem;
  transition: 200ms ease-in-out;
  border: 2px #ff5703 solid;
  background-color: white;
  margin-top: 1rem;
  max-width: 16rem;
}
.home_content .contact_page form.cform input[type=submit]:hover {
  transition: 200ms ease-in-out;
  color: #ffffff;
  background-color: #ff5703;
}

@keyframes FadeIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.privacy {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  scroll-behavior: auto;
  overflow-x: auto;
  overflow-y: auto;
}
@media (max-width: 63.9375em) {
  .privacy {
    align-items: center;
  }
}
.privacy .lineborderT {
  background-color: #ff5703;
  height: 0.4rem;
  width: 75%;
  border: none;
}
@media (max-width: 63.9375em) {
  .privacy .lineborderT {
    width: 100%;
  }
}
.privacy .logo {
  color: #ff5703;
  letter-spacing: 0.4rem;
  padding: 1rem;
  background-color: none;
}
@media (max-width: 63.9375em) {
  .privacy .logo {
    margin-left: 0;
  }
}
.privacy .logo img {
  height: 6rem;
  transition: 600ms;
  background-color: #ffffff;
}
@media (max-width: 39.9375em) {
  .privacy .logo img {
    height: 4rem;
  }
}
.privacy .logo_title {
  padding: 1rem;
  color: #ff5703;
  align-self: flex-start;
}
.privacy .logo_title h1 {
  margin-bottom: 1rem;
}
.privacy .logo_title .lineborderT {
  border: none;
  background-color: #ff5703;
  height: 0.4rem;
  width: 100%;
}

.biolink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  color: #ff5703;
  letter-spacing: 0.2rem;
  align-self: flex-end;
  padding: 1rem;
}
@media (max-width: 63.9375em) {
  .biolink {
    align-self: center;
    margin-right: 0;
  }
}
.biolink h1 {
  align-self: flex-end;
  font-size: 1.2rem;
  min-width: none;
  max-width: 60rem;
  padding: 1rem;
  transition: 400ms ease-in-out;
}
@media (max-width: 39.9375em) {
  .biolink h1 {
    font-size: 0.8rem;
    max-width: 30rem;
  }
}
.biolink .lineborderB {
  border: none;
  background-color: #ff5703;
  height: 0.4rem;
  width: 100%;
}/*# sourceMappingURL=style.css.map */